nav .active {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  gap: 1rem;
}

.missions {
  border-right: 2px black solid;
  padding-right: 1vw;
}
