.profilecontainer {
  width: 100vw;
  height: auto;
  border-top: 1px rgb(214, 201, 201) solid;
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
}

.missions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.rockets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.missionslist,
.rocketslist {
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.launchmission,
.reservedrocket {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3vw;
  border: none;
  border-radius: 4px;
  padding-left: 2vw;
  margin-top: 1vw;
  background-color: black;
  color: white;
}
