.rockets {
  border-top: 1px rgb(202, 190, 190) solid;
  padding-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item {
  margin-left: 10vw;
  background-color: white;
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2vw;
  height: 10vw;
  border: 1px black solid;
  padding: 1.5vw;
}

.content {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name {
  height: 2.5vw;
  margin: 0;
}

.description {
  margin: 0;
}

.reserve {
  color: white;
  background-color: black;
  width: 10vw;
  height: 2vw;
  margin-top: 1vw;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.reserve:hover {
  background-color: white;
  color: rgb(184, 175, 175);
  border: 1px rgb(184, 175, 175) solid;
}

.reserved {
  display: inline;
  color: white;
  background-color: rgb(30, 221, 30);
  width: 3vw;
  height: 0.8vw;
  margin-right: 0.5vw;
  border: none;
  border-radius: 4px;
  font-size: 0.5vw;
  margin-top: 0.5vw;
  float: left;
}

.loading {
  color: red;
  font-size: 3vw;
  font-weight: 800;
  margin-top: 15vw;
  margin-left: 45vw;
}
