.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  height: 3.5vw;
}

.logo-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2vw;
}

.title {
  margin-left: 2vw;
}

.navbar {
  margin-right: 2vw;
}
